.menu-as-popup {
  background: rgba(144,144,144,0.3);
}

.tictactoe-header{
  color: rgb(144,144,144)
}

.grid-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto auto;
  background: #bbada0;;
  padding: 15px;
  border-radius: 6px;
}

.grid-item {
  background-color: rgba(238, 228, 218, 0.35);
  padding: 12px;
  font-size: 70px;
  text-align: center;
  border-radius: 3px;
  min-height: 12rem;
  cursor: pointer;
}

h3{
  color:rgba(34, 167, 240, 1)
}