.menu-as-popup {
  background: rgba(144,144,144,0.3);
}

.tictactoe-header{
  color: rgb(144,144,144)
}

.grid-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto auto;
  background: #bbada0;
  padding: 15px;
  border-radius: 6px;
}

.grid-item {
  color: white;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  padding: 12px;
  font-size: 70px;
  text-align: center;
  border-radius: 3px;
  min-height: 12rem;
  min-width: 75px;
}

.available-space{
  background-color: rgba(238, 228, 218, 0.3);
}

.available-space:hover{
  cursor: pointer;
  background-color:rgba(34, 167, 240, .25);

}

.players-space{
  background-color:rgba(34, 167, 240, .75);
  animation: grow .3s;
}

.opponents-space{
  background-color:#f59563;
  animation: grow .3s;
}

.space-symbol{
  margin-top: 10%;
  font-weight: bold;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

h3{
  color:rgba(34, 167, 240, 1)
}

.spinner-blocker {
  position: fixed;
  top: 0;
  left: 0;
  background-color: grey;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 20050;
}

.spinner-circle {
  position: absolute;
  left: 47%;
  top: 47%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  opacity: 1;
  border-top: 8px solid white;
  border-right: 2px solid rgba(0,0,0, 0);
  border-bottom: 8px solid white;
  border-left: 2px solid rgba(0,0,0, 0);
  z-index: 20051;
}

.spinner-text {
  position: absolute;
  left: 35%;
  top: 40%;
  height: 100px;
  width: 400px;
  color: white;
  font-size: 40px;
  text-align: center;
}
